<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webox.mapper.MenuItemMapper">

    <select id="findAvailable" resultType="com.webox.entity.MenuItem">
        SELECT * FROM menu_item
        WHERE available = 1
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        ORDER BY id
    </select>

    <select id="findById" resultType="com.webox.entity.MenuItem">
        SELECT * FROM menu_item WHERE id = #{id}
    </select>

</mapper>
