<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webox.mapper.UserPreferenceMapper">

    <select id="findByUserId" resultType="com.webox.entity.UserPreference">
        SELECT * FROM user_preference WHERE user_id = #{userId}
    </select>

    <insert id="upsert">
        INSERT INTO user_preference (user_id, allergens, preferred_categories, spicy_level, taste, budget_min, budget_max)
        VALUES (#{userId}, #{allergens}, #{preferredCategories}, #{spicyLevel}, #{taste}, #{budgetMin}, #{budgetMax})
        ON DUPLICATE KEY UPDATE
            allergens = #{allergens},
            preferred_categories = #{preferredCategories},
            spicy_level = #{spicyLevel},
            taste = #{taste},
            budget_min = #{budgetMin},
            budget_max = #{budgetMax}
    </insert>

</mapper>
